:root {
  /* * Size Variables */
  --tiniest: 0.23636817em;
  --tinier: 0.31507877em;
  --tiny: 0.31507877em;
  --s__100: 0.42314348em;
  --s__200: 0.56405026em;
  --s__300: 0.7518797em;
  --s__400: 1em;
  --s__500: 1.333em;
  --s__600: 1.77em;
  --s__700: 2.369em;
  --s__800: 3.157em;
  --s__900: 4.209em;

  /* * Font Size Variables */
  --fs__100: 0.42314348rem;
  --fs__200: 0.56405026rem;
  --fs__300: 0.7518797rem;
  --fs__nav: 0.926875rem;
  --fs__400: 1rem;
  --fs__500: 1.333rem;
  --fs__600: 1.77rem;
  --fs__700: 2.369rem;
  --fs__800: 3.157rem;
  --fs__900: 4.209rem;

  /* * Font Size Special Variables */
  --fss__700: clamp(var(--fs__400), 1rem + 0.328vw, var(--fs__500));

  /* * Color Scheme */
  --primary: #333333;
  --secondary: #4f4f4f;
  --tertiary: #828282;
  --grey: #5c5c5c;
  --grey__1: #bdbdbd;
  --grey__2: #e0e0e0;
  --grey__3: #f2f2f2;
  --accent: #eb5757;
  --accent__complementary: #57eb81;
  --accent__access: #c04646;
  --accent__access__complementary-light: #12732e;
  --accent__access__complementary-dark: #45bf67;
  --accent__access__visited: #a63c3c;
  --accent__active: #ff0000;
  --link: #2f80ed;
  --white: #ffffff;
  --black: #000000;

  /* * Social Color Schemes */
  --facebook: #3b5998;
  --instagram__grd: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  --instagram: #e1306c;
  --linkedin: #0077b5;
  --pinterest: #bd081c;
  --twitter: #00acee;
  --youtube: #ff0000;

  /* * Font Family */
  --ff-sans-normal: Jost, Helvetica, Garamond, "Bodoni Moda", Arial, sans-serif;

  /* * home section spacing */
  --section-spacing: 1rem;
}

/* * md section spacing — large screens */
@media only screen and (min-width: 65em) {
  :root {
    --section-spacing: 2rem;
  }
}
/* * md font size — small screens */
@media only screen and (min-width: 40em) {
  :root {
    /* scale avg. 1.414 */
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 2rem;
    --fs-600: 2.827rem;
    --fs-700: 4rem;
    --fs-800: 5.653rem;
  }
}

html {
  scroll-behavior: smooth;
}

/* * set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs__400);
  color: var(--primary);
  background-color: var(--white);
  line-height: 1.5;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* padding: 0.5vw 7vw; */
  /* display: grid; */
  /* display: -ms-grid; */
  /* -ms-grid-row: min-content 1fr; */
  /* grid-template-rows: min-content 1fr; */

  overflow-x: hidden;
  /* ! remove overflow: hidden; from body and html to avoid interruption to scrolling */
  /* overflow: hidden; */
}

/* * make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* * make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* * remove animations for people who've turned it off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

/* ! box model  (keep it disabled) */
/* * {
  border: 2px solid red;
} */

/* * ******************************************************************************************** */
/* * *************************************** typography ********************************** */
/* * ******************************************************************************************** */

/* * 1. Headings */
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-weight: bold;
}

.h2,
.h3,
h2,
h3 {
  --flow-spacer: 1.5em;
}

/* 67.34px */
h1 {
  /* font-size: var(--fs__900); */
  font-size: clamp(var(--fs__700), 1rem + 10vw, var(--fs__900));
  font-weight: 500;
  margin-bottom: calc(var(--s__400) / var(--s__900));
}
/* 50.52px */
h2 {
  /* font-size: var(--fs__800); */
  font-size: clamp(var(--fs__800), 1rem + 10vw, var(--fs__600));
  margin-bottom: 1rem;
  margin-bottom: calc(var(--s__400) / var(--s__800));
}
/* 37.90px */
h3 {
  /* font-size: var(--fs__700); */
  font-size: clamp(var(--fs__700), 1rem + 10vw, var(--fs__500));
  margin-bottom: calc(var(--s__400) / var(--s__700));
  line-height: 1.2;
}
/* 28.43px */
h4 {
  font-size: var(--fs__600);
  margin-bottom: 1rem;
  margin-bottom: calc(var(--s__400) / var(--s__600));
  line-height: 1.1;
}
/* 21.33px */
h5 {
  font-size: var(--fs__500);
  margin-bottom: 1rem;
  margin-bottom: calc(var(--s__400) / var(--s__500));
}

/* * 2. Paragraphs */

p {
  font-size: var(--fs__400); /* 16.00px */
  margin-top: 0;
  color: var(--primary);
  max-width: 48ch;
  min-width: 12ch;
}

/* Hyper Link */

a {
  color: var(--accent__access);
  text-decoration: none;
}

a:visited {
  color: var(--accent__access__visited);
}

a:hover,
a:focus {
  color: var(--accent);
}

a:active {
  color: var(--accent__active);
}

/* * ******************************************************************************************** */
/* * *************************************** elements ********************************** */
/* * ******************************************************************************************** */

/* Lists */

ol,
ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
}

/* Horizontal Line hr */
hr {
  border: 0.5px solid var(--grey__3);
}

/* * ********************************************************************************************* */
/* * *************************************** utility classes  ********************************** */
/* * ********************************************************************************************* */

/* general */

/* `--gap` isn't defined in the `:root` so if the value falls back the value next to the `,` will take it's place i.e. 1rem in this case */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1em);
}

.home-section {
  padding: var(--section-spacing) 0;
}

.container {
  margin: 0 auto;
  max-width: 72.5rem;
  padding: 0 1em;
}

@media screen and (min-width: 40em) {
  .container {
    margin: 0 auto;
    max-width: 77.7rem;
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 65em) {
  .container {
    margin: 0 auto;
    max-width: 77.7rem;
    padding: 0 3.5rem;
  }
}

/* * margin top for h2 and h3 */
.flow > * + * {
  margin-top: var(--flow-spacer, 0.75em);
}

/* 1. Position sticky will most probably not work if overflow is set to hidden, scroll, or auto on any of the parents of the element.
2. Position sticky may not work correctly if any parent element has a set height. */
.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* required */
}

.active-link {
  font-weight: bold !important;
  border-bottom: 4px solid var(--accent__access);
}
/* .d-block {
  display: block;
} */

/* .flow > *:where(:not(:first-child)) {
  margin-top: var(--flow--space, 1rem);
} */

/* error here with section element */
/* .container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 88em;
} */

/* .grid-container {
  max-width: 50ch;
} */

/* @media (min-width: 45em) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 1rem);
    grid-template-column: minmax(1rem, 1fr) repeat(2 1rem, 1fr
    );
  }
  .grid-container > *:first-child {
    grid-column: 2;
  }
  .grid-container > *:last-child {
    grid-column: 3;
  }
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
} */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* colors */

.bg-dark {
  background-color: var(--primary);
}
.bg-accent {
  background-color: var(--grey__3);
}
.bg-white {
  background-color: var(--white);
}

/* timestamp 30:55 - responsive navbar tutorial using html css & js - speed - 0.25 */

/* * ********************************************************************************************* */
/* * *************************************** navigation header  ********************************** */
/* * ********************************************************************************************* */

/* Skip to main content ACCESSIBILITY */
.skip-nav-link,
.a11y__hc {
  position: absolute;
  transform: translateY(-150%);
  transition: transform 325ms ease-in-out;
  background: var(--accent__access);
  color: var(--white);
  padding: var(--s__300) var(--s__600);
  border-radius: var(--s__200);
  border-color: var(--black);
}

.skip-nav-link:focus {
  transform: translateY(var(--s__900));
}

/* <!-- Header Menu of the Page --> */
/* .a11y__hc {
  transform: transform 1000ms ease-in-out !important;
} */

.a11y__hc:focus {
  transform: translateY(var(--s__900));
}

/* * ********** *********** ********** */
/* * ********** primary header **********  */
/* * ********** *********** ********** */

/* * **** **** **** */
/* * **** navigation **** */
/* * **** **** **** */

/* *** header *** */

header li {
  list-style: none;
}

header a {
  color: var(--accent__access);
}

/* * ** ** ** */
/* * ** navbar ** */
/* * ** ** ** */

nav a:hover {
  color: var(--accent);
  font-weight: medium;
}

.navbar__nav-menu__nav-item a {
  color: var(--secondary);
}

.navbar {
  min-height: 6em;
  display: flex;
  flex-direction: row;
  /* gap: clamp(32em, 1em + 10vw, 39em); */
  /* gap: 39em; */
  justify-content: space-between;
  align-items: center;
  /* padding: 0 1.5em; */
  /* padding: 0; */
  /* padding-right: 5px; */
  /* ! fixing position of navbar */
  /* position: fixed; */
  /* overflow: hidden; */
}

.navbar__nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(0.7em, 0.7em + 1vw, 2.75em);
  /* gap: clamp(1.333em, 1em + 10vw, 2.1875em); */
  margin: 0;
}

.navbar__nav-branding {
  font-size: var(--fs__600);
}

.navbar__nav-menu__nav-link {
  transition: 0.7s ease;
  color: var(--accent);
  /* font-size: clamp(var(--fs__200), 1rem -10vw, var(--fs__300)); */
  font-size: calc(var(--fs__300) + 0.11vw);
}
/* ** ** ** */
/* ** navbar logo ** */
/* ** ** ** */

.navbar__logo {
  max-width: 12em;
  /* max-width: 12em; */
  width: 100%;
  height: 100%;
  /* height: auto; */
}

/* ** ** ** */
/* ** navbar hamburger icon ** */
/* ** ** ** */

button.navbar__hamburger {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.navbar__hamburger__bar {
  display: block;
  width: var(--s__600);
  height: 3px;
  background-color: var(--black);
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* * * * */
/* * responsive navbar hamburger menu * */
/* * * * */

@media (max-width: 40em) {
  button.navbar__hamburger {
    display: block;
  }

  .navbar__hamburger {
    display: block;
    position: relative;
    /* left: 61.80%; */
    /* right: -61.80%; */
    overflow: hidden;
  }

  /* ! [ ] create .active class in javascript --> script.js */
  .navbar__hamburger.active .navbar__hamburger__bar:nt-child(2) {
    opacity: 0;
  }
  .navbar__hamburger.active .navbar__hamburger__bar:nt-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar__hamburger.active .navbar__hamburger__bar:nt-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* * nav-menu styling: position to hide * */
  .navbar__nav-menu {
    position: fixed;
    flex-direction: column;
    top: 4.375em;
    /* right: 0; */
    gap: 0;
    background: hsl(22 100% 100% / 1);

    /* ! ** hide it from view ** */
    right: -100%;

    /* ** let the menu take the whole screen ** */
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  /* @supports (backdrop-filter: blur(1em)) {
      .navbar__nav-menu {
        background: hsl(0 0% 100% / 0.1);
        -webkit-backdrop-filter: blur(1.618em);
        backdrop-filter: blur(1.618em);
    } */
  /* ** don't want menu to appear close to each other ** */
  .navbar__nav-menu__nav-item {
    margin: 1em 0;
    color: var(--accent__access);
  }

  /* ! [ ] activate with javascript --> script.js */
  .navbar__nav-menu.active {
    right: 0;
    top: 4.375em;
    padding-bottom: calc(1em + 1.618%);
  }
}

.navbar__nav-menu__nav-item.active {
  font-weight: bold;
  border-bottom: 4px solid var(--accent__access);
}

/* * ********** ********** ********** */
/* * ********** navbar search-bar *********** */
/* * ********** ********** ********** */

.navbar__search {
  align-items: center;
  /* justify-content: space-between; */
  gap: clamp(0.0618em, 0.618em + 10vw, 0.125em);
  margin: 0;
  padding: 0;
}

/* * */
/*  * search input bar */
/* firefox */
::placeholder {
  color: var(--tertiary);
  opacity: 0.618;
}
/* internet explorer */
:-ms-input-placeholder {
  color: var(--grey__1);
}
/* edge */
::-ms-input-placeholder {
  color: var(--grey__1);
}

input.navbar__search__search-bar {
  border-radius: 13.6px;
  padding: 0.382em 1em;
  font-size: var(--fs__300);
  outline: none;
  border: none;
  background: var(--grey__3);
  /* opacity: .8; */
  color: var(--tertiary);
  z-index: 10;
  font-family: inherit;
  max-width: calc(90% - 2em);
}

/* * */
/* * search icon */
.navbar__search__icon {
  border-radius: 50%;
  color: var(--white);
  background: var(--accent);
  border: none;
  /* min-height: var(--s__600); */
  /* min-width: var(--s__600); */
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  padding: calc(6px - 1%);
}
/* * * * */
/* * md navigation * */
/* * * * */

/* ? change max to min? */
@media (max-width: 35em) {
  .navbar__search {
    display: none;
  }
}
/* navbar and navbar item */
@media screen and (min-width: 40em) {
  .navbar {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 65em) {
  .navbar .container {
    padding: 0 3.5rem;
  }
  /* // .navbar__nav-menu__nav-item {
    gap: 1.4em;
  } */
}

/* * ********** ********** ********** */
/* * ********** hero header title *********** */
/* * ********** ********** ********** */

/* * ********************************************************************************************* */
/* * *************************************** sections  ********************************** */
/* * ********************************************************************************************* */

/*
section {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
} */

.section__gap {
  display: block;
  content: "";
  margin: 0;
  padding: 0;
  padding-bottom: clamp(var(--s__900), 1em + 10vw, calc((var(--s__400) * 4.5)));
  /* margin-bottom: 10em; */
}

/* * ********************************************************************************************* */
/* * *************************************** feature trending all tab-bar  ********************************** */
/* * ********************************************************************************************* */

.tab-bar {
  display: flex;
  flex-direction: row;
  font-size: var(--fs__500);
}

.tab-bar__item {
  /* margin-right: 1rem; */
  font-size: clamp(var(--fs__400), 1rem + 0.328vw, var(--fs__500));
  font-weight: normal;
  border-bottom: 4px solid inherit;
}

.tab-bar__item a {
  text-decoration: none;
  color: inherit;
}

.tab-bar__item:hover {
  /* border-bottom: .25em solid var(--accent__access); */
  color: var(--accent);
}

/* * ********************************************************************************************* */
/* * *************************************** recipes layout grid  ********************************** */
/* * ********************************************************************************************* */

/* * * * */
/* * recipes - hero promo * */
/* * * * */

.recipes__hero-promo {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
  /* grid-template-rows: repeat(3, 1fr); */
  background: none;
  margin: 0;
  padding: 0;
  gap: 0;
  /* min-height: 10rem; */
}

.recipes.hero-promo h3 {
  font-size: var(--fs__600);
}
.recipes.hero-promo h4 {
  font-size: var(--fs__500);
}
.recipes__collection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--grey__3);
  padding: 0.5em;
}

.recipes__collection__link {
  font-weight: bolder;
}
/* * * * */
/* * recipes - all * */
/* * * * */
.recipes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(2, minmax(40px, 1fr));
  grid-template-columns: repeat(2, minmax(40px, 1fr));
  gap: 1rem;
}

.recipes__child h3 {
  /* font-size: clamp(var(--fs__400), 1rem + 0.328vw, var(--fs__500)); */
  font-size: var(--fss__700);
  /* font-size: var(--fs__500); */
}

.recipes__child {
  /* border: 2px solid red; */
  background: var(--grey__3);
}

.recipes__child img {
  display: block;
  min-height: 10em;
  max-height: 10.125em;
  max-width: 50.8125em;
  width: 100%;
  object-fit: cover;
}

.recipes__child__content {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-rows: repeat(
    auto-fit,
    minmax(calc(calc(var(--fss__700) * 2) + 0.5em), 1fr)
  );
  padding: 0.5em 0.5em 0;
}

@media screen and (min-width: 40em) {
  .recipes__hero-promo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  }

  .hero-promo__image {
    grid-column: 1 / span 2;
    /* height: clamp(20em, 20em + 5vw, 30em); */
    height: clamp(20em, 25em + 10vw, 30em);
  }

  .hero-promo__image img {
    /* min-height: 10em; */
    /* max-height: 10.125em; */
    max-width: clamp(60em, 50em + 5vw, 80em);
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
  }

  .recipes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-top: 1em;
  }
}

/* * ********************************************************************************************* */
/* * *************************************** footer ********************************** */
/* * ********************************************************************************************* */
footer .container {
  padding-top: 2rem;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  overflow: hidden;
  width: 100%;
  height: auto;
  gap: calc(var(--s__300) + 0.382vw);
}

/* * ***** ***** ***** */
/* * ***** footer - md query ***** */
/* * ***** ***** ***** */
@media (max-width: 35em) {
  .footer {
    display: -ms-grid;
    display: grid;
    /* flex-direction: row; */
  }
  .footer .footer__links {
    display: block;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    line-height: 1.5;
  }
  .footer .footer__social-icons {
    margin: 5px 7px 0 0;
    display: block;
    align-items: left;
    /* padding: calc(var(--s__400) + 2vw) 0; */
    padding-right: calc(var(--s__200) + 0.382%);
  }

  .footer .footer__social-icons i {
    margin: 5px 7px 0 0;
    padding: 0;
    padding-right: calc(var(--s__200) + 0.382%);
  }

  .footer .copyright {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 0;
  }
  /* footer .copyright p {
  } */

  .footer .copyright__text p {
    color: red;
  }

  .footer .copyright .logo__footer img {
    margin: 0;
    /* padding: 0; */
  }
  .footer .logo__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* * ***** ***** ***** */
/* * ***** footer - link, social-icon, copyright styling ***** */
/* * ***** ***** ***** */
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.footer__links a {
  padding-right: calc(var(--s__200) + 0.382%);
  margin: 5px 7px 0 0;
  border-top: 0 solid transparent;
  border-right: 1px solid var(--grey__1);
}

.footer__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.footer__social-icons i {
  padding-left: calc(var(--s__400) + 0.382%);
  padding-right: calc(var(--s__400) + 0.382%);
  text-shadow: 0 var(--s__100) var(--s__200) rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
/* Instagram */
.footer__social-icons a:nth-child(1) {
  color: var(--instagram);
}
/* Twitter */
.footer__social-icons a:nth-child(2) {
  color: var(--twitter);
}
/* Facebook */
.footer__social-icons a:nth-child(3) {
  color: var(--facebook);
}
/* Pinterest */
.footer__social-icons a:nth-child(4) {
  color: var(--pinterest);
}

.footer__social-icons i:hover {
  margin-top: calc(var(--s__100) * -1);
  text-shadow: 0 var(--s__300) var(--s__200) rgba(0, 0, 0, 0.2);
}

/* .footer__social-icons li a, .footer__social-icons li span {
  display: inline-block;
  padding: 0 1.5em;
  text-decoration: none;
  font-weight: medium;
} */

/* .footer__social-icons li:hover a, .footer__social-icons li span {
  background: var(--accent);
  color: var(--white);
  text-decoration: none;
  font-weight: medium;
  border-radius: var(--s__100);
} */
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 var(--s__400);
  min-height: 1.555em;
}

.copyright__text {
  font-size: var(--fs__300);
  padding: 0 var(--s__100);
  color: var(--primary);
}

.copyright__text a,
.logo__footer a {
  font-size: var(--fs__300);
  color: var(--primary);
}

p.copyright__text {
  margin-bottom: 0;
}
.copyright .logo__footer img {
  margin: 0 var(--s__100) 0 0;
  padding: 0;
  position: relative;
  float: left;
  height: 2.064375em;
  display: flex;
  align-items: center;
  justify-content: center;
}
