:root {
  /* Size Variables */
  --tiniest: 0.23636817em;
  --tinier: 0.31507877em
  --tiny: 0.31507877em
  --s__100: 0.42314348em;
  --s__200: 0.56405026em;
  --s__300: 0.7518797em;
  --s__400: 1em;
  --s__500: 1.333em;
  --s__600: 1.77em;
  --s__700: 2.369em;
  --s__800: 3.157em;
  --s__900: 4.209em;

  /* Font Size Variables */
  --fs__100: 0.42314348rem
  --fs__200: 0.56405026rem;
  --fs__300: 0.7518797rem;
  --fs__nav: 0.926875rem;
  --fs__400: 1rem;
  --fs__500: 1.333rem;
  --fs__600: 1.77rem;
  --fs__700: 2.369rem;
  --fs__800: 3.157rem;
  --fs__900: 4.209rem;

  /* Color Scheme */
  --primary: #333333;
  --secondary: #4f4f4f;
  --tertiary: #828282;
  --grey: #5c5c5c;
  --grey__1: #bdbdbd;
  --grey__2: #e0e0e0;
  --grey__3: #f2f2f2;
  --accent: #eb5757;
  --accent__complementary: #57EB81;
  --accent__access: #C04646;
  --accent__access__complementary-light: #12732E;
  --accent__access__complementary-dark: #45BF67;
  --accent__access__visited: #A63C3C;
  --accent__active: #ff0000;
  --link: #2f80ed;
  --white: #ffffff;
  --black: #000000;

  /* Social Color Schemes */
  --facebook: #3b5998;
  --instagram__grd: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  --instagram: #e1306c;
  --linkedin: #0077b5;
  --pinterest: #bd081c;
  --twitter: #00acee;
  --youtube: #ff0000;

  /* Font Family */
  --ff-sans-normal: "Jost", Helvetica, Garamond, "Bodoni Moda", Arial, sans-serif;
}

html {
  height: 100%;
}

/* set up the body */
body {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs__400);
  color: var(--primary);
  background-color: var(--white);
  line-height: 1.5;
  min-height: 100vh;
  /* padding: 0.5vw 7vw; */
  display: grid;
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned it off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

/* ! box model  (keep it disabled) */
/* * {
  border: 2px solid red;
} */

/* ***********************************************************************************************
******************************************* FONTS ************************************************
*************************************************************************************************/

/* 1. Headings */
h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-weight: bold;
}

h1 {
  font-size: var(--fs__900); /* 67.34px */
  font-weight: 500;
  margin-bottom: calc(var(--s__400) / var(--s__900));
}
h2 {
  font-size: var(--fs__800); /* 50.52px */
  margin-bottom: 1rem;
  margin-bottom: calc(var(--s__400) / var(--s__800));
}
h3 {
  font-size: var(--fs__700); /* 37.90px */
  margin-bottom: calc(var(--s__400) / var(--s__700));
  line-height: 1.2;
}
h4 {
  font-size: var(--fs__600); /* 28.43px */
  margin-bottom: 1rem;
  margin-bottom: calc(var(--s__400) / var(--s__600));
  line-height: 1.1;
}
h5 {
  font-size: var(--fs__500); /* 21.33px */
  margin-bottom: 1rem;
  margin-bottom: calc(var(--s__400) / var(--s__500));
}

/* 2. Paragraphs */

p {
  font-size: var(--fs__400); /* 16.00px */
  margin-top: 0;
  color: var(--primary);
}

/* Hyper Link */

a {
  color: var(--accent__access);
  text-decoration: none;
}

a:visited {
  color: var(--accent__access__visited);
}

a:hover, a:focus {
color: var(--accent);
}

a:active {
  color: var(--accent__active);
}
/* ***********************************************************************************************
******************************************** ELEMENTS ********************************************
*************************************************************************************************/

/* Lists */

ol, ul {
  margin-top: 0;
  padding: 0;
  list-style:none;
}
/* .container {
  margin: 0em auto;
  width: 75em;
} */

/* Horizontal Line hr */

hr {
  border: 0.5px solid var(--grey__3);
}

/*************************************************************************************************
*****************************************  UTILITY CLASSES **************************************
*************************************************************************************************/

/* general */

/* `--gap` isn't defined in the `:root` so if the value falls back the value next to the `,` will take it's place i.e. 1rem in this case */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1em);
}

/* .d-block {
  display: block;
} */

/* .flow > *:where(:not(:first-child)) {
  margin-top: var(--flow--space, 1rem);
} */

/* error here with section element */
/* .container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 88em;
} */

/* .grid-container {
  max-width: 50ch;
} */

/* @media (min-width: 45em) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 1rem);
    grid-template-column: minmax(1rem, 1fr) repeat(2 1rem, 1fr
    );
  }
  .grid-container > *:first-child {
    grid-column: 2;
  }
  .grid-container > *:last-child {
    grid-column: 3;
  }
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
} */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* colors */

.bg-dark {
  background-color: var(--primary)
}
.bg-accent {
  background-color: var(--grey__3)
}
.bg-white {
  background-color: var(--white)
}

/* timestamp 30:55 - responsive navbar tutorial using html css & js - speed - 0.25 */

/*************************************************************************************************
***************************************** NAVIGATION HEADER  **************************************
*************************************************************************************************/

/* Skip to main content ACCESSIBILITY */
.skip-nav-link,
.a11y__hc {
  position: absolute;
  transform: translateY(-150%);
  transition: transform 325ms ease-in-out;
  background: var(--accent__access);
  color: var(--white);
  padding: var(--s__300) var(--s__600);
  border-radius: var(--s__200);
  border-color: var(--black);
}

.skip-nav-link:focus {
  transform: translateY(var(--s__900));
}

/* <!-- Header Menu of the Page --> */
.a11y__hc {
  /* transform: transform 1000ms ease-in-out !important; */
}

.a11y__hc:focus {
  transform: translateY(var(--s__900));
}

/* *********** *********** ************/
/* *********** primary header ***********  */
/* *********** *********** ************/

.logo {
  margin: 2rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;

}
.primary-navigation {
  /* general reset */
  list-style: none;
  padding: 0;
  margin: 0;

  background: hsl(0 0% 100% / 0.0999999);
  /* backdrop-filter: blur(1em); */
}

/* support works like media-queries - for firefox and edge */
@supports (backdrop-filter: blur(1em)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.099999);
    backdrop-filter: blur(1em);
  }
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: bold;
  margin-inline-end: 0.75em; /* left and right for multilingual */
}

/* This is an exception - use min-width for most cases -- because this had a lot of moving elements */
/* 600px Golden */
@media only screen and (max-width: 37.5em) {
  .primary-navigation {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    /* toggle inset with js instead of translate */
    inset: 0 0 0 38.2%;
    /* .primry n-navigation class in html  lready has a class "flex" on it so you can use flex direction here */
    flex-direction: column;
    padding: min(30vh, 10em) var(--s__600);
    /* inset is like shorthand for margin */

    /* set to 100% after testing */
    /* transform: translateX(38.2%); */
    transform: translateX(100%);
  }
  /* .primary-navigation[data-visibile="false"] {
    transform: translateX(100%);
  } */

  /* from data atributes in html & data-visibility navToggle in js */
  .primary-navigation[data-visibile="true"] {
    transform: translateX(0%);

  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("/assets/icon-hamburger-menu.png");
    background-repeat: no-repeat;
    width: 2rem;
    height: 10em;
    border: 0;
    aspect-ratio: 1 ;
    top: 2em;
    right: 2em;
    background-size: 2em;
  }
}

.active {
  font-weight: bolder;
  border-bottom: solid var(--accent__access);
}

/* Navigation Bar */



/* *************
*********** Logo **********
***************** */



/* *************
*********** Navigation MENU **********
***************** */



/* *************
*********** HERO Header Title **********
***************** */


/*************************************************************************************************
*****************************************  SECTIONS **************************************
*************************************************************************************************/

section#section-1 {
  display: flex;
  flex-direction: column;
}

section#section-2 {
  display: flex;
}

section#section-3 {
    display: flex;
}
/*************************************************************************************************
***************************************** FEATURE - TAB-BAR **************************************
*************************************************************************************************/

.tab-bar {
  display: flex;
  flex-direction: row;
  font-size: var(--fs__500);
}

.tab-bar__item {
  margin-right: 1rem;
  font-size: var(--fs__500);
  font-weight: normal;
}

.tab-bar__item a {
  text-decoration: none;
  color: inherit;
}

.tab-bar__item:hover {
  border-bottom: .25em solid var(--accent__access);


}
.tab-bar__item.active {
  font-weight: bold;
  border-bottom: .25em solid var(--accent__access);

}

/* ************************************************************************************************
******************************************* HERO PROMO *******************************************
************************************************************************************************ */

/* ****************************************
******** 1. Hero Promo Image **************
**************************************** */

/* Hero Promo__Container */

section {
  overflow: hidden;
}

.hero-promo {
  display: flex;
  margin-top: var(--s__500);
  flex-direction: row;
}

/* Promo Image__Container */
.hero-promo__image {
  display: flex;
  height: 28.25em;
  max-width: 50.8125em;
  /* object-fit: cover; */
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

@media (max-width: 35em) {
.hero-promo {
  display: flex;
  margin-top: 0;
  flex-direction: column;
}

.hero-promo__image {
  max-width: clamp(10.8125em 10vw 30em);

}
}

/* Promo Image__Styling */
.promo__image {
  height: auto;
  width: 100%;
  flex-shrink: 0;
}

/* ****************************************
******** 2. Hero Promo Text **************
**************************************** */
.hero-pro__text-section,
.pro-text__1,
.pro-text__2,
.hero-pro__text-section__footer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.hero-pro__text-section {
  background-color: var(--grey__3);
  padding-top: 1rem;
}

/* Text Section About The Featured Recipe */
.pro-text__1 {
  margin-bottom: var(--s__300);
}
/* Recipe from collection */
.pro-text__2 {
  /* display: flex; */
  margin-bottom: var(--s__500);
}

.hero-pro__text-section__recipe-links {
  display: flex;
  flex-direction: column;
}
/* Footer of text-section */
.hero-pro__text-section__footer {
  display: flex;
  flex-direction: row;
}

/* ************************************************************************************************
******************************************* RECIPE LAYOUT *******************************************
************************************************************************************************ */

/* 4 Containers */
.rcp-1,
.rcp-2,
.rcp-3,
.rcp-4 {
box-shadow:
  2.8px 2.8px 2.2px -96px rgba(0, 0, 0, 0.07),
  6.7px 6.7px 5.3px -96px rgba(0, 0, 0, 0.05),
  12.5px 12.5px 10px -96px rgba(0, 0, 0, 0.042),
  22.3px 22.3px 17.9px -96px rgba(0, 0, 0, 0.035),
  41.8px 41.8px 33.4px -96px rgba(0, 0, 0, 0.028),
  100px 100px 80px -96px rgba(0, 0, 0, 0.02)
;
}

/* ****************************************
******** 1. Recipe Image **************
**************************************** */

/* Recipe Promo__Container */

.recipe-layout__item {
  display: flex;
  margin-top: var(--s__500);
  justify-content: space-between;
  gap: var(--s__500);
}

@media (max-width: 35em) {

  .recipe-layout__item {
    flex-direction: column;
  }
}

/* Recipe__Promo Image__Container */
.rcp__image {
  display: flex;
  height: 10.125em;
  max-width: 50.8125em;
  /* object-fit: cover; */
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

/* Recipe__Promo Image__Styling */
.rcp-promo__image {
  height: auto;
  width: 100%;
  flex-shrink: 0;
}

/* ****************************************
******** 2. Recipe Promo Text **************
**************************************** */

.rcp__text-section {
    display: flex;
    flex-direction: column;
    background-color: var(--grey__3);
    padding: var(--s__400) var(--s__400) 0 var(--s__400);
    height: 6.875em;
}

/* use pseudo selector to style in a manageble way */
.rcp__text-section :is(h3, :p, :txt-muted, :.rcp__tag) {
  color: var(--accent__access);
}

:is(div.recipe-layout__item, .txt-medium, .rcp__tag, .txt-muted) p:hover {
  /* color: yellow; */
  font-weight: 500;
}
.txt-medium, .txt-muted, .rcp__tag {
    margin-bottom: var(--s__200);
}
.txt-medium {
    font-size: var(--fs__500);
    margin-bottom: var(--s__100);
}
.txt-muted {
    color: var(--secondary);
}
.rcp__tag {
    font-size: var(--fs__300);
    text-transform: uppercase;
    color: var(--grey);
    letter-spacing: 0.1rem;
    font-weight: normal;
    margin: var(--s__300) 0 var(--s__400);
}

/* ************************************************************************************************
******************************************* FOOTER LAYOUT *******************************************
************************************************************************************************ */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eee;
  margin-top: 1.7689em;
  padding-top: 1em;
  overflow: hidden;
  width: 100%;
  height: auto;
  /* flex: auto; */
}
@media (max-width: 35em) {
  footer{
    display: grid;
    /* flex-direction: row; */
  }
  footer .footer__links {
    display: block;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    /* margin-top: 1.7689em 0; */
    /* padding: 1em 0; */
  }
    footer .footer__social-icons {
      display: block;
      align-items: left;
      padding: 0;
      margin: 0 2em;
      /* flex-direction: column; */
  }

}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

.footer__links a {
  padding: var(--s__400);
}

.footer__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: var(--s__400);
}

.footer__social-icons i {
  padding: 0 var(--s__500);
  text-shadow: 0 var(--s__100) var(--s__200) rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
/* Instagram */
.footer__social-icons a:nth-child(1) {
  color: var(--instagram);
  /* background: var(--instagram__grd); */
}
/* Twitter */
.footer__social-icons a:nth-child(2) {
  color: var(--twitter);
}
/* Facebook */
.footer__social-icons a:nth-child(3) {
  color: var(--facebook);
}
/* Pinterest */
.footer__social-icons a:nth-child(4) {
  color: var(--pinterest);
}

.footer__social-icons i:hover {
  margin-top: calc(var(--s__100) * -1);
  text-shadow: 0 var(--s__300) var(--s__200) rgba(0, 0, 0, 0.2);
}

/* .footer__social-icons li a, .footer__social-icons li span {
  display: inline-block;
  padding: 0 1.5em;
  text-decoration: none;
  font-weight: medium;
} */


/* .footer__social-icons li:hover a, .footer__social-icons li span {
  background: var(--accent);
  color: var(--white);
  text-decoration: none;
  font-weight: medium;
  border-radius: var(--s__100);
} */
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.copyright__text {
  font-size: var(--fs__300);
  padding: 0 var(--s__100);
  color: var(--primary);
}

a.copyright__text {
color: var(--primary);
}

p.copyright__text {
margin-bottom: 0;
}
.copyright #logo__footer img {
  margin: 0 var(--s__100) 0 0;
  padding: 0;
  position: relative;
  float: left;
  height: 2.064375em;
  display: flex;
}

